.mainContent {
  margin-left: 260px; /* sidebar width + gap */
  padding: 20px;
  flex: 1;
}
.dashboardHeading {
  font-size: 34px;
  font-weight: bold;
}

.dashboardHeader {
  margin-bottom: 50px;
}
.chartGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.chartHeading {
  font-size: 25px; /* bigger font */
  font-weight: 700;
  margin-bottom: 12px; /* space between heading and chart */
  margin-top: 0; /* optional: space above heading */
  color: #333; /* optional: dark text */
}

/* Smaller card */
.chartCard {
  background: white;
  border-radius: 12px;
  padding: 20px;
  height: 280px; /* chart height */
  width: 100%; /* auto fit */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  overflow: hidden;
}

/* Make chart fit container */
.chartWrapper {
  width: 100%;
  height: 100%;
}
